td.manage form {
    display:inline-block;
}

.text-center {
    text-align:center;
    padding:10px 0;
}

.parents-btn {
    border:1px solid gray;
}

.parents-btn:hover {
    background-color:lightgray;
}

.padding .children-tables {
    display:inline;
}

.back-btn {
    float:left;
}

.mr-10 {
    margin-right: 10px;
}

.app-aside {
    width:14.5rem !important;
}

.app-content {
    margin-left:14.5rem !important;
    left:14.5rem !important;
}

.nav-stacked-rounded {
    width:14.5rem !important;
}